{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.item_name }}
{% endblock %}

{% block body %}
    <h1>Details of {{ listing.item_name }}</h1>
    {% include "auctions/item_card.html" with show_link=False %}
    {% if user.is_authenticated and user.get_username == listing.seller.username %}
        <div class="box">
            <ul class="nav">
                <li class="nav_item">
                    <a class="nav-link" href="{% url 'delete' listing.id %}">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit' listing.id %}">Edit</a>
                </li>
            </ul>
        </div>
    {% endif %}

{% endblock %}
