{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.item_name }}
{% endblock %}

{% block body %}
    <h1>Details of {{ listing.item_name }}</h1>
    {% include "auctions/item_card.html" with show_link=False %}
    {% if user.is_authenticated and user.get_username == listing.seller.username %}
        <div class="box">
            <p>Number of bids: {{ listing.number_of_bids }}</p>
            <p>Highest bid: ${{ listing.current_bid }}</p>
            <ul class="nav">
                {% if listing.is_active %}
                    <li class="nav_item">
                        <a class="nav-link" href="{% url 'delete' listing.id %}">Delete</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit' listing.id %}">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'close' listing.id %}">Close</a>
                </li>
            </ul>
            {% if listing.is_active == False %}
                <p>This listing has been closed.</p>
            {% endif %}
        </div>
    {% elif user.is_authenticated %}
        <div class="box">
            <p> Current highest bid: ${{ listing.current_bid }}</p>
            <p>
                {{ listing.number_of_bids }} bids so far.
                {% if listing.bidder.id == user.id %}
                    Your bid is the highest bid.
                {% else %}
                    Your bid is not the highest bid.
                {% endif %}
            </p>
            <form method="post">
                {% csrf_token %}
                <input type="number" class="form-elm" name="current_bid" placeholder="Bid">
                <div class="form-field">
                    <input class="form-elm" type="submit" value="Submit">
                </div>
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
            </form>
        </div>
    {% endif %}

{% endblock %}
